joblib~=1.4.2
scikit-learn~=1.5.2
pandas~=2.2.2
numpy~=2.1.1
argparse~=1.4.0
zlib~=1.2.13
pip~=24.2
wheel~=0.44.0
openssl~=3.0.15
setuptools~=72.1.0
torch~=2.4.1
optuna~=4.0.0
matplotlib~=3.9.2
chardet~=5.2.0
pillow~=10.4.0
filelock~=3.16.1
packaging~=24.1